
<div id='_t2_m2'>
<div id="_t2_m2_1_0" style="height:450px;">
	<!--<div class="applicant-form-title" data-settings="zone:'north',split:true,border:false" style="height:60px;padding:0;overflow:hidden;">
	</div>-->
	<div data-settings="zone:'center',border:false">
		<style>
		table.editor tr, table.editor-line tr, table.simplegrid tr{
			height:auto;
		}
		</style>
		<table id="_t2_m2_1_2" data-settings="
		        url: '/s/base/fv/table2.json',
		        showRownum: true,
		        idField: 'id',
		        //treeField: 'name',
		        //showPagebar: false,
		        fit:true
		    ">
			<thead>
				#parse("felicityvillage/table2/table2-head.vm")
			</thead>
		</table>
		<!--toolbar-->
		<!--
		#if(!$submit)
		<div id="tb" style="padding:5px;height:auto">
			<div style="margin-bottom:5px">
				<a href="#" onclick='addProject();' class="bupa" iconClassname="icon_add" flat="true">添加项目</a>
			</div>
		</div>
		#end
		-->
	</div>
</div>


<!--load弹出框填项目-->
<div id='r_bupwin' style="display:none;"></div>
<script>
jQuery(function(){
	$("a.bupa").bupabutton();//添加项目的按钮
	jQuery("#_t2_m2_1_0").bupborderlayout({fit:true});
	
	jQuery("#_t2_m2_1_2").bupgrid({
		fitColumns: true,//列的宽度自动适应
        singleSelect: true,//单选
        border: true,//显示边框
        showRownum: true,//显示序号
        showHeader: true,//显示表头
        autoRowheight: false,//将这个设置为false,可以设置rowstyle 的样式高度
        //sortField: 'id',//定义排序的字段
        //sortOrder: 'desc',
        remoteSort: false,//如果要使用本地定义排序的字段,就要设置这里为false
        
        rowStyler: function(index,row){
        	 var maName = row.maName;
        	 
        	 if(maName=='小计'){
        	 	return 'background-color:#83d7f5;color:#333333;height:30px;'; // 返回内联样式#8dc5c5,33.8
        	 }
        	 if (maName==""){
		     	//return {class:'r1',style:{'background-color:gray'}};
		     	//return 'background-color:#6293BB;color:#fff;height:40px;'; // 返回内联样式#6293BB
		     	return 'background-color:#a5d8f1;color:#333333;height:30px;'; // 返回内联样式#6293BB
		     }else{
		     	
		        return 'background-color:#dbfab4;color:#333333;height:30px;'; // 返回内联样式#6293BB
		       
		     }
		    
		},
        
        /*在这里开启分页*/
        //loadFilter: pagerFilter,
        //showPagebar: true,
        //pagePosition: 'bottom',
		toolbar: '#tb',
		queryParams: {
            id: '$id',
     	},
     	/*被冻结的列*/
     	
		
		onLoadSuccess : function(data, param) {
			jQuery('#a_editorProect').click(function() {
				//lock("正在加载...");
				//jQuery('#ma_update').load(this.href);
				//alert('binji...');
				//jQuery('#div-kernel-dialog-loader').load(this.href);
				return false;
			});
			jQuery('#a_deleteProject').click(function() {
				//lock("正在加载...");
				//jQuery('#div-kernel-dialog-loader').load(this.href);
				//alert('编辑村指标');
				return false;
			});
		}
	});
	
	
	$('#_t2_m2').bupdlg({
		title:'$title',
		iconCassname:'icon_save',
	    modal:true,
	    //closed:true,
	    //buttons:'#_buttons',
	    maximized: true,//是否显示最大化
	    onClose:function(){
	    	jQuery('#_t2_m2').bupdlg('destroy').remove();
	    },
	    minimizable:false,
	    maximizable:false
	});
	
});
	
	
	
//function addProject(){
	//$('#r_bupwin').load('addProject.do?id=$id');
//}



//编辑项目
//function editorProject(id){
	//$('#r_bupwin').load('editorProject.do?id='+id);	
//}

//删除项目
/*
function deleteProject(_id){
	if(!confirm("是否删除?")){
		return false;
	}
	$.post(
		"deleteProject.do",
		{id:_id},
		function(data){
			alert("删除成功!");
			jQuery("#_1_2").bupgrid("reload");
			//jQuery('#table2_myw').bupdlg('destroy').remove();
		}
	);
}
*/


</script>
