   
<tr>
    <th rowspan='2' data-settings="chalign:'center',field:'maName'" width="70">县(市、区)示范片名称</th>
    <th rowspan='2' data-settings="chalign:'center',field:'pjType'" width="70">项目类型</th>
    <th rowspan='2' data-settings="chalign:'center',field:'pjName'" width="70">项目类容</th>
    <th rowspan='2' data-settings="chalign:'center',field:'pjInRuralName'" width="70">项目所在村的名称</th>
    <th colspan='2' data-settings="chalign:'center',field:''" width="70">项目投入</th>
    <th colspan='3' data-settings="chalign:'center',field:''" width="70">项目实施时间</th>
    <th rowspan='2' data-settings="chalign:'center',field:'checkUnit'" width="70">验收部门</th>
    
</tr>   
   
<tr>
	<th  data-settings="chalign:'center',field:'budgetMoney'" width="70">预算投入(万元)</th>
    <th  data-settings="chalign:'center',field:'finishMoney'" width="70">完成投入(万元)</th>
    <th  data-settings="chalign:'center',field:'startTime'" width="75">启动时间</th>
    <th  data-settings="chalign:'center',field:'finishTime'" width="70">完成时间</th>
    <th  data-settings="chalign:'center',field:'checkTime'" width="70">验收时间</th>
</tr>
