<div style='width: 100%; height: 30%;'>
	<table class=' editor' style="width:100%;margin: auto;"  id='_artable'>
		<tr>
			<th class="tdRight">总面积[B5]：</th>
			<td colspan='2'><input style="width:60px;" id="ruralArea" type='text' class='number' value='$!{ar.ruralArea}' min="0" precision="2" name='ruralArea' $!{readonly}/>亩</td>
			<th colspan='2' class="tdRight">耕地面积[B6]：</th>
			<td><input id="arableLand" type='text' style="width:60px;" class='number' value='$!{ar.arableLand}' min="0" precision="2" name='arableLand' $!{readonly}/>亩</td>
		</tr>
		<tr>
			<th class="tdRight">户数[B7]：</th>
			<td><input style="width:60px;" id="houseHold" type='text' value='$!{ar.houseHold}' min="0" precision="0" class='number' name='houseHold' $!{readonly}/>户</td>
			<th class="tdRight">人口数[B8]：</th>
			<td><input id="population" style="width:50px;" type='text' value='$!{ar.population}' min="0" precision="0" class='number' name='population' $!{readonly}/>人</td>
			<th class="tdRight">劳动力总人数[B9]：</th>
			<td><input id="labor" type='text' style="width:60px;" value='$!{ar.labor}' min="0" precision="0" class='number' name='labor' $!{readonly}/>人</td>
		</tr>
		
		
		<tr>
			<th class="tdRight" colspan='2'>贫困户数：</th>
			<td  ><input style="width:60px;" id="poorHouseHold" type='text' value='$!{ar.poorHouseHold}' min="0" precision="0" class='number' name='poorHouseHold' $!{readonly}/>户</td>
			<th class="tdRight">贫困人口数：</th>
			<td colspan='2'><input id="poorPopulation" style="width:50px;" type='text' value='$!{ar.poorPopulation}' min="0" precision="0" class='number' name='poorPopulation' $!{readonly}/>人</td>
		</tr>
		
		<tr>
			<th class="tdRight" colspan='2'>低保户数：</th>
			<td ><input style="width:60px;" id="lowHouseHold" type='text' value='$!{ar.lowHouseHold}' min="0" precision="0" class='number' name='lowHouseHold' $!{readonly}/>户</td>
			<th class="tdRight">低保人口数：</th>
			<td colspan='2'><input id="lowPopulation" style="width:50px;" type='text' value='$!{ar.lowPopulation}' min="0" precision="0" class='number' name='lowPopulation' $!{readonly}/>人</td>
		</tr>
		
		<tr>
			<th class="tdRight" colspan='2'>五保户数：</th>
			<td ><input style="width:60px;" id="wubaoHouseHold" type='text' value='$!{ar.wubaoHouseHold}' min="0" precision="0" class='number' name='wubaoHouseHold' $!{readonly}/>户</td>
			<th class="tdRight">需改造的危房户数：</th>
			<td colspan='2'><input id="dangerHouse" style="width:50px;" type='text' value='$!{ar.dangerHouse}' min="0" precision="0" class='number' name='dangerHouse' $!{readonly}/>户</td>
		</tr>
		
		
		<!--
		<tr>
			<th class="tdRight" colspan='2'>各年度农民年人均纯收入[B13]：</th>
			<td colspan='4'>
				2013&nbsp年度：<input id="annualIncome_13" type='text' name='annualIncome_13' class='number'  value='$!{ar.annualIncome_13}' min="0" precision="2"$!{readonly} />元&nbsp&nbsp
				2014&nbsp年度：<input id="annualIncome_14" type='text' name='annualIncome_14' class='number'  value='$!{ar.annualIncome_14}' min="0" precision="2"$!{readonly} />元&nbsp&nbsp
				2015&nbsp年度：<input id="annualIncome_15" type='text' name='annualIncome_15' class='number'  value='$!{ar.annualIncome_15}' min="0" precision="2"$!{readonly} />元&nbsp&nbsp
				2016&nbsp年度：<input id="annualIncome_16" type='text' name='annualIncome_16' class='number'  value='$!{ar.annualIncome_16}' min="0" precision="2"$!{readonly} />元&nbsp&nbsp
				2017&nbsp年度：<input id="annualIncome_17" type='text' name='annualIncome_17' class='number'  value='$!{ar.annualIncome_17}' min="0" precision="2"$!{readonly} />元
			</td>
		</tr>
		-->
		
		<!--20150811新增-->
		<!--
		<tr>
			<th class="tdRight" colspan='2'>村集体经济收入[万元]：</th>
			<td colspan='4'>
				2013&nbsp年度：<input id="collectivityAnnulIncome_13" type='text' name='collectivityAnnulIncome_13' class='number'  value='$!{ar.collectivityAnnulIncome_13}' min="0" precision="2"$!{readonly} />万元&nbsp
				2014&nbsp年度：<input id="collectivityAnnulIncome_14" type='text' name='collectivityAnnulIncome_14' class='number'  value='$!{ar.collectivityAnnulIncome_14}' min="0" precision="2"$!{readonly} />万元&nbsp
				2015&nbsp年度：<input id="collectivityAnnulIncome_15" type='text' name='collectivityAnnulIncome_15' class='number'  value='$!{ar.collectivityAnnulIncome_15}' min="0" precision="2"$!{readonly} />万元&nbsp
				2016&nbsp年度：<input id="collectivityAnnulIncome_16" type='text' name='collectivityAnnulIncome_16' class='number'  value='$!{ar.collectivityAnnulIncome_16}' min="0" precision="2"$!{readonly} />万元&nbsp
				2017&nbsp年度：<input id="collectivityAnnulIncome_17" type='text' name='collectivityAnnulIncome_17' class='number'  value='$!{ar.collectivityAnnulIncome_17}' min="0" precision="2"$!{readonly} />万元
			</td>
		</tr>
		-->
		<tr>
			<th colspan='6' class="tdRight"><a class='item-open2 '  href='#' onclick='ar_detal();'>详情</a></th>
		</tr>
	</table>
	<!--tab内容-->
	#parse('optimize2/rural/adminrural/ar-info.vm')
</div>

<!--
<div id='rep'>
<div id='main_income' style='width:750px; height:600px;padding:300px 0 0 150px;' ></div>
<div id='main_house' style='position:absolute; right:10px; top:300px;width: 400px; height: 350px;'> </div>
</div>
-->

<div id='rep'>
<div id='main_income' style='width:750px; height:600px;padding:300px 0 0 150px;' ></div>
<div id='main_house' style='position:absolute; right:10px; top:300px;width: 400px; height: 350px;'> </div>
</div>



<script type='text/javascript'>
	var myChart1 = echarts.init(document.getElementById('main_income'),'infographic'); 
	var myChart2 = echarts.init(document.getElementById('main_house'),'infographic');
	var ecConfig = echarts.config;
	var mapGeoData = echarts.util.mapData.params;
	
	var option1;
	var option2;
	
	$(function(){
		option1 = {
		    title : {
		        text: '收入情况'
		    },
		    tooltip : {
		        trigger: 'axis',
		        formatter:'{b}<br/>{a}: {c} 元<br/>{a1}: {c1} 元'
		    },
		    legend: {
		        data:['农民年人均收入','村集体经济收入']
		    },
		    
		    calculable : false,
		    xAxis : [
		        {
		            type : 'category',
		            boundaryGap : true,
		            data : ['2013年','2014年','2015年','2016年','2017年','-','-'],
		             axisLabel: {
		                 show: true,
		                 rotate:25,
		                 interval: 'auto',
		
		                 textStyle: {
		                     color: '#000000',
		                     fontFamily: 'verdana',
		                     fontSize: 15,
		                     fontStyle: 'normal',
		                     fontWeight: 'bold'
		                 }
		             }
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value',
		            axisLabel : {
		                formatter: '{value} 元'
		            }
		        }
		    ],
		    series : [
		        {
		            name:'农民年人均收入',
		            type:'line',
		            //data:[11, 11, 15, 13, 12, 13, 10],
		            data:$anIncome,
		            
		            markPoint : {
		                data : [
		                    //{type : 'max', name: '最大值'},
		                    //{type : 'min', name: '最小值'}
		                ]
		            },
		            markLine : {
		                data : [
		                    {type : 'average', name: '平均值'}
		                ]
		            },
		            itemStyle: {
		                 normal: {
		                     label: {
		                         show: true,
		                         textStyle: {
		                             //color: '#800080'
		                         },
		                         position:'top',
		                         formatter: '{c}元'
		                     },
		                     color: function(params) {
		                        // build a color map as your need.
		                        var colorList = [
		                          '#C1232B','#B5C334','#6495ED','#E87C25','#27727B',
		                           '#FF4500','#B03060','#26C0C0','#F3A43B','#8B8B00',
		                           '#D7504B','#C6E579','#F4E001','#F0805A','#A2CD5A'
		                        ];
		                        return colorList[params.dataIndex]
		                    }
		                 }
		             }
		        },
		        {
		            name:'村集体经济收入',
		            type:'line',
		            data:$clIncome,
		            markPoint : {
		                data : [
		                    //{type : 'max', name: '最大值'},
		                    //{type : 'min', name: '最小值'}
		                ]
		            },
		            markLine : {
		                data : [
		                    {type : 'average', name : '平均值'}
		                ]
		            },
		            itemStyle: {
		                 normal: {
		                     label: {
		                         show: true,
		                         textStyle: {
		                             //color: '#800080'
		                         },
		                         position:'top',
		                         formatter: '{c}元'
		                     },
		                     color: function(params) {
		                        // build a color map as your need.
		                        var colorList = [
		                          '#C1232B','#B5C334','#6495ED','#E87C25','#27727B',
		                           '#FF4500','#B03060','#26C0C0','#F3A43B','#8B8B00',
		                           '#D7504B','#C6E579','#F4E001','#F0805A','#A2CD5A'
		                        ];
		                        return colorList[params.dataIndex]
		                    }
		                 }
		             }
		        }
		    ]
		};
		myChart1.setOption(option1);
		
		//----------------------------------------------------------------
		option2 = {
		    title : {
		        text: '$ar.name',
		        subtext: '户数',
		        x:'center'//标题位置
		    },
		    tooltip : {
		        trigger: 'item',
		        formatter: "{b} : {c}户 ({d}%)"
		    },
		    legend: {
		        orient : 'vertical',
		        x : 'left',
		        data:['贫困户数','低保户数','五保户数','需改造的危房户数','其他']
		    },
		    
		    calculable : true,
		    series : [
		        {
		            name:'户数',
		            type:'pie',
		            radius : '55%',
		            center: ['50%', '60%'],
		            selectedMode: 'single',
		            data:[
		            	
		                {value:$ar.poorHouseHold, name:'贫困户数'},
		                {value:$ar.lowHouseHold, name:'低保户数'},
		                {value:$ar.wubaoHouseHold, name:'五保户数'},
		                {value:$ar.dangerHouse, name:'需改造的危房户数'},
		                {value:$ar.houseHold - ($ar.poorHouseHold + $ar.lowHouseHold + $ar.wubaoHouseHold), name:'其他'}
		            ],
		            
		            itemStyle: {
		                 normal: {
		                     label: {
		                         show: true,
		                         textStyle: {
		                             //color: '#800080'
		                         },
		                         position:'outer',
		                         formatter: '{b}:\n{c}户 ({d}%)'
		                     },
		                     color: function(params) {
		                        // build a color map as your need.
		                        var colorList = [
		                          '#C1232B','#B5C334','#6495ED','#E87C25','#27727B',
		                           '#FF4500','#B03060','#26C0C0','#F3A43B','#8B8B00',
		                           '#D7504B','#C6E579','#F4E001','#F0805A','#A2CD5A'
		                        ];
		                        return colorList[params.dataIndex]
		                    }
		                 }
		             }
		            
		            
		        }
		    ]
		};
		                    
		myChart2.setOption(option2);
	});
	
	
	
	function ar_detal(){
		$(this).toggleClass('item-open2 item-close2');
		//点击详情的时候隐藏那两个图表,和上面的table
		
		$('#_artable').toggle('slow');
		$('#main_house').toggle('slow');
		$('#main_income').toggle('slow');
		//显示tab
		//document.getElementById('ar-tab').style.display='';
		$('#myt_ar').show();
		$('#myt_ar').buptab({
			tabWidth:150,
			tabHeight:60,
			width:955,
			height:625,
		 	//fit: true,
			headerWidth:235,
		    border:false,
		    //tabPosition: 'top',
		    //collapsible: true,
		    //onSelect:function(title){
		       //alert(title + ' 被选中了！');
		    //},
		    //tools:'#_tabtools',
		    //plain:false
		});
		var title = $("#r_title").text();
		$("#r_title").html("<a href='#' onclick='arClick($ar.id)' >"+title+"</a>"+"  >>  详情");
		/*
		$('#div_ar_back').show();
		$('#div_nr_back').hide();
		$('#a_ar_back').click(function(){
			$('#show_area').fadeOut("slow",function(){
				$('#show_area').load('arDetal.do?id=$ar.id',function(){
					$('#show_area').fadeIn("slow");
				});
			});
		});
		*/
		
	}
</script>