<div id="_1_0_0" style="height:450px;">
	<form id='serch_form' method='post'>
	<div class="applicant-form-title" data-settings="zone:'north',split:true,border:false" style="height:40px;padding:0;overflow:hidden;">
		批次:
		<select id='batch'  id='' onchange="" name='batch' >
			<optgroup label='批次'>
				<option value ="-1">请选择...</option>
				<option value ="一">第一批</option>
				<option value ="二">第二批</option>
				<option value ="三">第三批</option>
				<option value ="珠三角">珠三角</option>
			</optgroup>
		</select>
		市名:
			<input id='cityName' type='text' name='cityName'  />
		示范片区名:
			<input id='maName' type='text'  name='maName'/>
		状态:
		<select id='status'   onchange="" name='status' >
			<optgroup label='状态'>
				<option value ="-1">请选择..</option>
				<option value ="1">进行中</option>
				<option value ="2">竣工</option>
				<option value ="3">终止</option>
			</optgroup>
		</select>
		
		<span style='position: relative;left: 15px;top: -18px;'><a id='searchProject' href='#' onclick='searchProject();' data-settings="iconClassname:'icon_search'">查询</a></span>
		<span style='position: relative;left: 20px;top: -18px;'>
			<a id='exportTable' href='#'  onclick='exportTable();' data-settings="iconClassname:'icon-excel'" >导出excel</a>
		</span>
	</div>
	
	<div data-settings="zone:'center',border:false" id='content'>
		
	</div>
</div>


<script>
	$(function(){
		jQuery("#_1_0_0").bupborderlayout({fit:true});
		jQuery("#exportTable,#searchProject").bupabutton();
	});
	
	function searchProject(){
		var batch = $('#batch').val();
		var cityName = $('#cityName').val();
		var maName = $('#maName').val();
		var status = $('#status').val();
		//alert(batch+'--'+cityName+'--'+maName+"--"+status);
		$("#content").load(
			"loadContent.do",
			{
				batch:batch,
				cityName:cityName,
				maName:maName,
				status:status
			},
			function(){
				//alert('ok!');
			}
		);
	}
	
	function exportTable(){
		/*var batch = EncodeUtf8($('#batch').val());
		var cityName = EncodeUtf8($.trim($('#cityName').val()));
		var maName = EncodeUtf8($.trim($('#maName').val()));
		var status = $('#status').val();
		location.href='projects.excel?batch='+batch+"&&cityName="+cityName+"&&maName="+maName+"&&status="+status;
		*/
		//使用表单post提交，解决linux  get请求传递中文乱码问题
		$('#serch_form').bupform('submit', {
			url:"projects.excel",
		    success: function(data){
		     var data = eval('(' + data + ')'); // 把JSON串转成javascript对象。
		         if (data.error){
		            alert(data.message)
		         }
		    }
		});
	}
	
	
	
</script>







