<div id='_alout' data-settings="fit:true" style='width:100%;height:100%;'>
	<div id='_title' data-settings="zone:'north',split:true,border:false" style="height:50px;" align='center'>
		<h1 id='r_title'>$aucr.name</h1> 
		<!--<div id='div_aur_back' style='position:absolute; right:30px; top:20px;display:none;' ><a href='#' id='a_aur_back'>返回</a></div>-->
	</div>
	<div data-settings="zone:'west',split:true,border:false" style="width:130px">
		<p class='item-open2 item-close2' onclick="jQuery(this).toggleClass('item-close2').next().slideToggle();">
			$aucr.name
		</p>
		<div id='_nrs'>
		#foreach($it in $prs)
			<p style='padding:0px 0px 0px 18px;'><a href='#' title='查看[$it.naturalVillage]自然村信息' onclick='prClick($!{it.id},"$!{it.naturalVillage}");'>$it.naturalVillage</a></p>	
		#end
		</div>
	</div>
	<div data-settings="zone:'center',border:false" id='r_content'>
		#parse('optimize2/rural/adminruralunc/aucr-base.vm')
	</div>
</div>



<script type='text/javascript'>
	$(function(){
		//布局
		$('#_alout').bupborderlayout();
		$('#_nrs p a').bupabutton({
	        iconClassname: '',
	        //face:'scorner',
	        group:'_nrs',
	        flat:true,
	        borderedflat: false,
	        istoggle:true
	    }); 
	    $('#_nrs p a').buptip();
	    $('#a_aur_back').bupabutton({
	    	face:'scorner'
	    });
	});
	
	//点击自然村
	var titleStr;
	function prClick(_id,_vname){
		//点击详情的时候隐藏那两个图表,和上面的table
		$('#_artable').hide();
		$('#main_house').hide();
		$('#main_income').hide();
		
		
		$('#div_aur_back').show();
		$('#a_aur_back').click(function(){
			$('#show_area').fadeOut("slow",function(){
				$('#show_area').load('uarDetal.do?id=$aucr.id',function(){
					$('#show_area').fadeIn("slow");
				});
			});
		});
		
		//var vname = "$aucr.name >> "+_vname;
		//$('#r_title').text(vname);
		
		
		var vname = " >> <a href='#' onclick='prLoad("+_id+");'>"+_vname+"</a>";
		titleStr = "<a href='#' onclick='uarClick($aucr.id);'>$aucr.name</a>"+vname;
		$('#r_title').html(titleStr);
		$('#r_content').load('loadPr.info?id='+_id,function(){});
	}
	
	function prLoad(_id){
		$('#r_content').load('loadPr.info?id='+_id,function(){});
		$('#r_title').html(titleStr);
	}
	
</script>