
<!--点击打印查看的页面-->
#set($layout="layout-empty.vm")
<html>
<head>


<link type='text/css' href='/res/css/global.css' rel="stylesheet" media=""/>
<script src='/res/js/jquery.min.js'></script> 
<script type="text/javascript" src="/res/js/jquery.PrintArea.js"></script>   


<script>  
$(document).ready(function(){  
  	$("input#biuuu_button").click(function(){  
	  	$("div#myPrintVillage").printArea();  
	});  
});  
</script>
<style>
 #biuuu_button{position: fixed; font-size:18px;  color:blue; text-decoration:underline; }
</style>
</head>
<body>
	<div>
		<input id="biuuu_button" type="button" value="打印" ></input>  
	</div>


	<div id="myPrintVillage"   style="width:850px;" >
		<div class="applicant-form-title" >
			$title
		</div> 
		<div >
			#parse('applicant/areaproject-info.vm')
		</div>
	</div>

</body>

</html>



