<div class="applicant-head">年度[C1]：
	#if($readonly)
		<input class="outsideInput" type="text" value='$!{form.annual}' name='annual' id="annual" readonly="readonly"/>
	#else
		<select id='annual' name='annual'>
			<option>2013</option>
			<option>2014</option>
			<option>2015</option>
			<option>2016</option>
		</select>
	#end
</div>
<table class='applicant-form'>
	<tr>
		<td style='font-weight:bold;' colspan='6'>(一)基本情况</td>
	</tr>
	<tr>
		<td class="tdRight">序号[C2]：</td>
		<td><input type="text" value='$!{form.code}' name='code' $!{readonly}/></td>
		<td class="tdRight">村庄类型[C3]：</td>
		<td colspan='3' style='color:red;'>非主体建设自然村</td>
		<!--
		<td colspan='3'>
		#if($form.type == '行政村')
			<input style='width:20px' type='radio' name='type' id='type-1' value='行政村' $!{disabled} checked='checked'/><label for='type-1'>行政村</label>
			<input style='width:20px' type='radio' name='type' id='type-2' value='自然村' $!{disabled}/><label for='type-2'>自然村</label>
		#else
			<input style='width:20px' type='radio' name='type' id='type-1' value='行政村' $!{disabled}/><label for='type-1'>行政村</label>
			<input style='width:20px' type='radio' name='type' id='type-2' value='自然村' $!{disabled} checked='checked'/><label for='type-2'>自然村</label>
		#end
		</td>
		-->
	</tr>
	<tr>
		<td class="tdRight">村名称[C4]：</td>
		<td colspan='5'>
		 	<input style="width:120px;" type='text' value='$!{form.town}' readOnly="true"/>镇
			<input style="width:120px;" type='text' value='$!{form.name}' readOnly="true"/>村委会
			<input type='text' value='$!{form.naturalVillage}' readOnly="true"/> 自然村(或村民小组)
		</td>
	</tr>
	<tr>
		<td colspan='2' class="tdRight" class="tdRight">被纳入主体村的辐射带动范围[C5]：</td>
		<td colspan='4'>
		#if($readonly)
			<input type='text' value='$!{form.nrName}' name='nrName' readOnly="true"/>
		#else
			$!{newRural}
		#end				
		</td>
	</tr>
	<tr>
		<td class="tdRight">总面积[C6]：</td>
		<td colspan='2'>
			<input style="width:60px;" id="ruralArea" type='text' class='number' value='$!{form.ruralArea}' min="0" precision="2"name='ruralArea' $!{readonly} />亩
		</td>
		<td class="tdRight">耕地面积[C7]：</td>
		<td colspan='2'>
			<input style="width:60px;" id="arableLand" type='text' class='number' value='$!{form.arableLand}' min="0" precision="2" name='arableLand' $!{readonly} />亩
		</td>
	</tr>
	<tr>
		<td class="tdRight">户数[C8]：</td>
		<td>
			<input style="width:60px;" id="houseHold" type='text' value='$!{form.houseHold}' min="0" precision="0" class='number' name='houseHold' $!{readonly} />户
		</td>
		<td style="width:100px;" class="tdLeft">人口数[C9]：</td>
		<td style="width:100px;">
			<input style="width:60px;" id="population" onblur="$('#pop').toggle()"  type='text' value='$!{form.population}' min="0" precision="0" class='number' name='population' $!{readonly} />人
		</td>
		<td class="tdRight" style="width:120px;">劳动力总人数[C10]：</td>
		<td style="width:120px;">
			<input style="width:60px;" id="labor" type='text' value='$!{form.labor}' min="0" precision="0" class='number' name='labor' $!{readonly} />人
		</td>
	</tr>
	
	
	
	<tr style='color:red;'>
		<td class="tdRight" ><span style='color:red;'>贫困户数：</span></td>
		<td  ><input style="width:60px;" id="poorHouseHold" type='text' value='$!{form.poorHouseHold}' min="0" precision="0" class='number' name='poorHouseHold' $!{readonly}/>户</td>
		<td class="tdRight" colspan='2'><span style='color:red;'>贫困人口数：</span></td>
		<td colspan='2'><input id="poorPopulation" style="width:50px;" type='text' value='$!{form.poorPopulation}' min="0" precision="0" class='number' name='poorPopulation' $!{readonly}/>人</td>
	</tr>
	
	<tr >
		<td class="tdRight" ><span style='color:red;'>低保户数：</span></td>
		<td ><input style="width:60px;" id="lowHouseHold" type='text' value='$!{form.lowHouseHold}' min="0" precision="0" class='number' name='lowHouseHold' $!{readonly}/>户</td>
		<td class="tdRight" colspan='2'><span style='color:red;'>低保人口数：</span></td>
		<td colspan='2'><input id="lowPopulation" style="width:50px;" type='text' value='$!{form.lowPopulation}' min="0" precision="0" class='number' name='lowPopulation' $!{readonly}/>人</td>
	</tr>
	
	<tr >
		<td class="tdRight" ><span style='color:red;'>五保户数：</span></td>
		<td ><input style="width:60px;" id="wubaoHouseHold" type='text' value='$!{form.wubaoHouseHold}' min="0" precision="0" class='number' name='wubaoHouseHold' $!{readonly}/>户</td>
		<td class="tdRight" colspan='2'><span style='color:red;'>需改造的危房户数：</span></td>
		<td colspan='2'><input id="dangerHouse" style="width:50px;" type='text' value='$!{form.dangerHouse}' min="0" precision="0" class='number' name='dangerHouse' $!{readonly}/>户</td>
	</tr>
	
	
	
	
	
	<!--
	<tr>
		<td colspan='2' class="tdRight">是否省级扶贫开发重点村（贫困村）[C11]： </td>
		<td colspan='4'>
		#if($form.poorVillage == '是')
			<input id="poorVillage-n" style='width:20px' type='radio' name='poorVillage' value='否' $!{disabled} onclick="jQuery('#helpUnit').attr('disabled', true);"/><label for="poorVillage-n">否</label>
			<input id="poorVillage-y" style='width:20px' type='radio' name='poorVillage' value='是' $!{disabled} checked='checked' onclick="jQuery('#helpUnit').removeAttr('disabled');"/><label for="poorVillage-y">是</label>
			(帮扶单位名称:<input id="helpUnit" style='width:160px' type='text' value='$!{form.helpUnit}' name='helpUnit' $!{readonly}/>)
		#else
			<input id="poorVillage-n" style='width:20px' type='radio' name='poorVillage' value='否' $!{disabled} checked='checked' onclick="jQuery('#helpUnit').attr('disabled', true);"/><label for="poorVillage-n">否</label>
			<input id="poorVillage-y" style='width:20px' type='radio' name='poorVillage' value='是' $!{disabled} onclick="jQuery('#helpUnit').removeAttr('disabled');"/><label for="poorVillage-y">是</label>
			(帮扶单位名称:<input id="helpUnit" style='width:160px' type='text' value='$!{form.helpUnit}' name='helpUnit' $!{readonly} disabled='true'/>)
		#end
		</td>
	</tr>
	-->
	
	<tr>
		<td colspan='2' class="tdRight">是否广东名村[C12]：</td>
		<td colspan='4'>
		#if($form.famousVillage == '是')
			<input id="famousVillage-n" style='width:20px' type='radio' name='famousVillage' value='否' $!{disabled} onclick="jQuery('#famousBatch-1,famousBatch-2').attr('disabled', true);" /><label for='famousVillage-n'>否</label>
			<input id="famousVillage-y" style='width:20px' type='radio' name='famousVillage' value='是' $!{disabled} checked='checked' onclick="jQuery('#famousBatch-1,famousBatch-2').removeAttr('disabled');"  /><label for='famousVillage-y'>是</label>
			(批次:
					<input id="famousBatch-1" style='width:20px' type='radio' name='famousBatch' value='一' $!{disabled} #if($form.famousBatch == '一')checked='checked'#end/><label for='famousBatch-1'>第一批</label>
					<input id="famousBatch-2" style='width:20px' type='radio' name='famousBatch' value='二' $!{disabled} #if($form.famousBatch == '二')checked='checked'#end/><label for='famousBatch-2'>第二批</label>
			#else
				<input id="famousVillage-n" style='width:20px' type='radio' name='famousVillage' value='否' $!{disabled} checked='checked' onclick="jQuery('#famousBatch-1,#famousBatch-2').attr('disabled', true);"  /><label for='famousVillage-n'>否</label>
				<input id="famousVillage-y" style='width:20px' type='radio' name='famousVillage' value='是' $!{disabled} onclick="jQuery('#famousBatch-1,#famousBatch-2').removeAttr('disabled');" /><label for='famousVillage-y'>是</label>
				(批次:
					<input id="famousBatch-1" style='width:20px' type='radio' name='famousBatch' value='一' disabled='true'/><label for='famousBatch-1'>第一批</label>
					<input id="famousBatch-2" style='width:20px' type='radio' name='famousBatch' value='二' disabled='true'/><label for='famousBatch-2'>第二批</label>
				)
			#end
	</tr>
	<tr>
		<td colspan='2' class="tdRight">是否"两不具备"整村搬迁村[C13]：</td>
		<td colspan='4'>
		#if($form.pushVillage == '是')
			<input id="pushVillage-n" style='width:20px' type='radio' name='pushVillage' value='否' $!{disabled} onclick="jQuery('#pvAnnual').attr('disabled', true);" /><label for='pushVillage-n'>否</label>
			<input id="pushVillage-y" style='width:20px' type='radio' name='pushVillage' value='是' $!{disabled} checked='checked' onclick="jQuery('#pvAnnual').removeAttr('disabled');" /><label for='pushVillage-y'>是</label>
			<span style='color:red;' >
			(年度:
				#if($readonly)
					<input type="text" id='pvAnnual'   name='pvAnnual' readonly="readonly" value="$!{form.pvAnnual}"/>
				#else
					<select id='pvAnnual' name='pvAnnual'>$!{selyear}</select>
				#end
			年)
			</span>
		#else
			<input id="pushVillage-n" style='width:20px' type='radio' name='pushVillage' value='否' $!{disabled} checked='checked' onclick="jQuery('#pvAnnual').attr('disabled', true);" /><label for='pushVillage-n'>否</label>
			<input id="pushVillage-y" style='width:20px' type='radio' name='pushVillage' value='是' $!{disabled} onclick="jQuery('#pvAnnual').removeAttr('disabled');" /><label for='pushVillage-y'>是</label>
			<span style='color:red;'>
			(年度:
				#if($readonly)
					<input type="text" id='pvAnnual' name='pvAnnual' disabled="true" />
				#else
					<select id='pvAnnual'  disabled="true" name='pvAnnual'>$!{selyear}</select>
				#end
			年)
			</span>
		#end
		</td>
	</tr>
	
	<!--
	<tr>
		<td colspan='2' class="tdRight">农民年人均纯收入[C14]：</td>
		<td colspan='4'>
			2013&nbsp年度：<input id="annualIncome_13" type='text' name='annualIncome_13' class='number' value='$!{form.annualIncome_13}' min="0" precision="2" $!{readonly} />元&nbsp&nbsp
			2014&nbsp年度：<input id="annualIncome_14" type='text' name='annualIncome_14' class='number' value='$!{form.annualIncome_14}' min="0" precision="2" $!{readonly} />元&nbsp&nbsp
			2015&nbsp年度：<input id="annualIncome_15" type='text' name='annualIncome_15' class='number' value='$!{form.annualIncome_15}' min="0" precision="2" $!{readonly} />元
		</td>
	</tr>
	-->
	
	
	<tr>
		<td style='font-weight:bold;' colspan='6'>(二)基础设施建设和环境卫生整治情况</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>村内道路和入户路硬底化率[C15]：</td>
		<td>
			<input id="hardBottom" style='width:60px' type='text' name='hardBottom' class='number' value='$!{form.hardBottom}' min="0" max="100" precision="2" $!{readonly} />%
			<br />
			(<input id="bottomDis" style='width:30px' type='text' name='bottomDis' class='number' value='$!{form.bottomDis}' min="0" precision="2" $!{readonly} />公里)
		</td>
		<td class="tdRight">是否通自来水[C16]：</td>
		<td colspan='2'>
		#if($form.tapWater == '是')
			<input id="tapWater-n" style='width:20px' $!{disabled} type='radio' name='tapWater' value='否' onclick="jQuery('#tapAnnual').attr('disabled', true);" /><label for="tapWater-n">否</label>
			<input id="tapWater-y" style='width:20px' $!{disabled} type='radio' name='tapWater' value='是' checked='checked' onclick="jQuery('#tapAnnual').removeAttr('disabled');"/><label for="tapWater-y">是</label>
			<br />
			(时间:
				#if($readonly)
					<input type="text" id='tapAnnual' name='tapAnnual' readonly="readonly" value="$!{form.tapAnnual}"/>
				#else
					<select id='tapAnnual' name='tapAnnual'>$!{selyear}</select>	
				#end
			年)
		#else
			<input id="tapWater-n" style='width:20px' type='radio' $!{disabled} name='tapWater' value='否' checked='checked' onclick="jQuery('#tapAnnual').attr('disabled', true);" /><label for="tapWater-n">否</label>
			<input id="tapWater-y" style='width:20px' type='radio' $!{disabled} name='tapWater' value='是' onclick="jQuery('#tapAnnual').removeAttr('disabled');"/><label for="tapWater-y">是</label>
			<br />
			(时间:
				#if($readonly)
					<input type="text" id='tapAnnual' name='tapAnnual' disabled="true"/>
				#else
					<select id='tapAnnual' name='tapAnnual' disabled="true">$!{selyear}</select>	
				#end
			年)
		#end
		</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>开展农田水利基础设施和现代渔港建设[C17]：</td>
		<td><input class="number" id="waterBase" style='width:60px' type='text' name='waterBase' value='$!{form.waterBase}' min="0" $!{readonly} />宗</td>
		<td class="tdRight" colspan='2'>整治小山塘、小灌区、小水坡、小泵站和小堤防[C18]：</td>
		<td><input class="number" id="smallWater" style='width:60px' type='text' name='smallWater' value='$!{form.smallWater}' min="0" $!{readonly} />个</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='3'>配套建设高标准基本农田、标准鱼塘[C19]：</td>
		<td colspan='3'><input class="number" id="farmland" style='width:60px' type='text' name='farmland' value='$!{form.farmland}' min="0" precision="2" $!{readonly} />亩</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>是否已完成环境卫生整治[C20]：</td>
		<td colspan='4'>
		#if($form.hyFix == '是')
			<input id="hyFix-n" style='width:20px' type='radio' name='hyFix' value='否' $!{disabled} onclick="jQuery('#fixAnnual').attr('disabled', true);" /><label for='hyFix-n'>否</label>
			<input id="hyFix-y" style='width:20px' type='radio' name='hyFix' value='是' $!{disabled} checked='checked' onclick="jQuery('#fixAnnual').removeAttr('disabled');" /><label for='hyFix-y'>是</label>
			(完成年度:
				#if($readonly)
					<input type="text" id='fixAnnual' name='fixAnnual' readonly="readonly" value="$!{form.fixAnnual}"/>
				#else
					<select id='fixAnnual' name='fixAnnual'>$!{selyear}</select>	
				#end	
			年)
		#else
			<input id="hyFix-n" style='width:20px' type='radio' name='hyFix' value='否' $!{disabled} checked='checked' onclick="jQuery('#fixAnnual').attr('disabled', true);" /><label for='hyFix-n'>否</label>
			<input id="hyFix-y" style='width:20px' type='radio' name='hyFix' value='是' $!{disabled} onclick="jQuery('#fixAnnual').removeAttr('disabled');" /><label for='hyFix-y'>是</label>
			(完成年度:
				#if($readonly)
					<input type="text" id='fixAnnual' name='fixAnnual' disabled="true"/>
				#else
					<select id='fixAnnual' name='fixAnnual' disabled="true">$!{selyear}</select>	
				#end	
			年)
		#end
		</td>
	</tr>
	
	
	<tr>
		<td class="tdRight" colspan='2'>是否开展村庄垃圾治理[B20]：</td>
		<td colspan='4'>
			#if($form.villageManage == '是')
				<input id="villageManage-n" style='width:20px' type='radio' name='villageManage' value='否' $!{disabled} onclick="jQuery('#garbageAnnual').attr('disabled', true);" /><label for='villageManage-n'>否</label>
				<input id="villageManage-y" style='width:20px' type='radio' name='villageManage' value='是' $!{disabled} checked='checked' onclick="jQuery('#garbageAnnual').removeAttr('disabled');" /><label for='villageManage-y'>是</label>
				<span style='color:red'>
				(完成年度:
					#if($readonly)
						<input type="text" id='garbageAnnual' name='garbageAnnual'  readonly="readonly" value="$!{form.garbageAnnual}"/>
					#else
						<select id='garbageAnnual' name='garbageAnnual'>$!{selyear}</select>	
					#end	
				年)
				</span>
			#else
				<input id="villageManage-n" style='width:20px' type='radio' name='villageManage' value='否' $!{disabled} checked='checked' onclick="jQuery('#garbageAnnual').attr('disabled', true);" /><label for='villageManage-n'>否</label>
				<input id="villageManage-y" style='width:20px' type='radio' name='villageManage' value='是' $!{disabled} onclick="jQuery('#garbageAnnual').removeAttr('disabled');" /><label for='villageManage-y'>是</label>
				<span style='color:red'>
				(完成年度:
					#if($readonly)
						<input type="text" id='garbageAnnual' name='garbageAnnual' disabled="true"/>
					#else
						<select id='garbageAnnual' name='garbageAnnual' disabled="true">$!{selyear}</select>	
					#end	
				年)
				</span>
			#end
		</td>
	</tr>
	
	<tr>
		<td class="tdRight" colspan='2'>是否建立村保洁队伍[B21]：</td>
		<td colspan='4'>
			#if($form.cleanTeam == '是')
				<input id="cleanTeam-n" style='width:20px' type='radio' name='cleanTeam' value='否' $!{disabled} onclick="jQuery('#cleaners').attr('disabled', true);" /><label for='cleanTeam-n'>否</label>
				<input id="cleanTeam-y" style='width:20px' type='radio' name='cleanTeam' value='是' $!{disabled} checked='checked' onclick="jQuery('#cleaners').removeAttr('disabled');"/><label for='cleanTeam-y'>是</label>
				(保洁员:<input id="cleaners" style='width:60px' class='number'  type='text' name='cleaners' value='$!{form.cleaners}' min="0" precision="0" $!{readonly}/>个)
			#else
				<input id="cleanTeam-n" style='width:20px' type='radio' name='cleanTeam' value='否' $!{disabled} checked='checked' onclick="jQuery('#cleaners').attr('disabled', true);" /><label for='cleanTeam-n'>否</label>
				<input id="cleanTeam-y" style='width:20px' type='radio' name='cleanTeam' value='是' $!{disabled} onclick="jQuery('#cleaners').removeAttr('disabled');"/><label for='cleanTeam-y'>是</label>
				(保洁员:<input id="cleaners" style='width:60px' class='number'  type='text' name='cleaners' value='$!{form.cleaners}' min="0" precision="0" disabled="true"/>个)
			#end
		</td>
	</tr>
	
	
	
	<!--
	<tr>
		<td class="tdRight" colspan='2'>是否开展村庄垃圾治理[C21]：</td>
			<td>
			#if($form.villageManage == '是')
				<input style='width:15px' type='radio' id='villageManage-n' name='villageManage' value='否' $!{disabled} /><label for='villageManage-n'>否</label>
				<input style='width:15px' type='radio' id='villageManage-y' name='villageManage' value='是' $!{disabled} checked='checked' /><label for='villageManage-y'>是</label>
			#else
				<input style='width:15px' type='radio' id='villageManage-n' name='villageManage' value='否' $!{disabled} checked='checked' /><label for='villageManage-n'>否</label>
				<input style='width:15px' type='radio' id='villageManage-y' name='villageManage' value='是' $!{disabled} /><label for='villageManage-y'>是</label>
			#end
			</td>
		<td class="tdRight" colspan='2'>是否建立村保洁队伍[C22]：</td>
		<td>
		#if($form.cleanTeam == '是')
			<input id="cleanTeam-n" style='width:20px' type='radio' name='cleanTeam' value='否' $!{disabled} onclick="jQuery('#cleaners').attr('disabled', true);" /><label for='cleanTeam-n'>否</label>
			<input id="cleanTeam-y" style='width:20px' type='radio' name='cleanTeam' value='是' $!{disabled} checked='checked' onclick="jQuery('#cleaners').removeAttr('disabled');"/><label for='cleanTeam-y'>是</label><br />
			(保洁员:<input id="cleaners" style='width:20px' class='number'  type='text' name='cleaners' value='$!{form.cleaners}' min="0" precision="0" $!{readonly}/>个)
		#else
			<input id="cleanTeam-n" style='width:20px' type='radio' name='cleanTeam' value='否' $!{disabled} checked='checked' onclick="jQuery('#cleaners').attr('disabled', true);" /><label for='cleanTeam-n'>否</label>
			<input id="cleanTeam-y" style='width:20px' type='radio' name='cleanTeam' value='是' $!{disabled} onclick="jQuery('#cleaners').removeAttr('disabled');"/><label for='cleanTeam-y'>是</label><br />
			(保洁员:<input id="cleaners" style='width:20px' class='number'  type='text' name='cleaners' value='$!{form.cleaners}' min="0" precision="0" disabled="true"/>个)
		#end
		</td>
	</tr>
	-->
	
	<tr>
		<td class="tdRight" colspan='2'>村民使用卫生厕所户数[C23]：</td>
		<td>
			占<input id="toiletPercent" style='width:40px' type='text' class='number' name='toiletPercent' value='$!{form.toiletPercent}' min="0" max="100" precision="2" $!{readonly} />%
			<br /><input id="toilet" style='width:60px' type='text' class='number' name='toilet' value='$!{form.toilet}' min="0" precision="0" $!{readonly} />户
		</td>
		<td class="tdRight" colspan='2'>是否建立污水处理设施[C24]：</td>
		<td>
		#if($form.badWater == '是')
			<input id="badWater-n" style='width:15px' type='radio' name='badWater' value='否' $!{disabled} onclick="jQuery('#badWaterAnn').attr('disabled', true);" /><label for='badWater-n'>否</label>
			<input id="badWater-y" style='width:15px' type='radio' name='badWater' value='是' $!{disabled} checked='checked' onclick="jQuery('#badWaterAnn').removeAttr('disabled');" /><label for='badWater-y'>是</label><br/>
			(完成时间:
				#if($readonly)
					<input type="text" id='badWaterAnn' name='badWaterAnn' value='$!{form.badWaterAnn}' $readonly/>
				#else
					<select id='badWaterAnn' name='badWaterAnn'>$!{selyear}</select>	
				#end
			年)
		#else
			<input id="badWater-n" style='width:15px' type='radio' name='badWater' value='否' $!{disabled} checked='checked' onclick="jQuery('#badWaterAnn').attr('disabled', true);" /><label for='badWater-n'>否</label>
			<input id="badWater-y" style='width:15px' type='radio' name='badWater' value='是' $!{disabled} onclick="jQuery('#badWaterAnn').removeAttr('disabled');" /><label for='badWater-y'>是</label><br/>
			(完成时间:
				#if($readonly)
					<input type="text" id='badWaterAnn' name='badWaterAnn' disabled="true"/>
				#else
					<select id='badWaterAnn' name='badWaterAnn' disabled='true'>$!{selyear}</select>	
				#end
			年)
		#end
		</td>
	</tr>
	<tr>
		<td style='font-weight:bold;' colspan='6'>(三)农村旧房整治情况</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>无价值旧村旧房拆除[C25]：</td>
		<td><input class="number" id="noValue" style='width:50px' type='text' name='noValue' value='$!{form.noValue}' min="0" precision="0" $!{readonly} />间</td>
		<td class="tdRight" colspan='2'>统一拆旧建新[C26]：</td>
		<td><input class="number" id="buildAgain" style='width:50px' type='text' name='buildAgain' value='$!{form.buildAgain}' min="0" precision="0" $!{readonly} />间</td>
	</tr>
	<tr style="height:30px;">
		<td class="tdRight" colspan='3'>是否编制旧房整治改造规划[C27]：</td>
		<td colspan='3'>
		#if($form.changePlan == '是')
			<input style='width:20px' id="changePlan-n" type='radio' name='changePlan' value='否' $!{disabled} onclick="jQuery('#cpUpload').hide();" /><label for='changePlan-n'>否</label>
			<input style='width:20px' id="changePlan-y" type='radio' name='changePlan' value='是' $!{disabled} checked='checked' onclick="jQuery('#cpUpload').show();" /><label for='changePlan-y'>是</label>
			#if($readonly)
				<a class="area_file_upload" onclick="return openDialog(this);" href="#springUrl('/s/rural/annex/')$!{form.id}-0-C27-upload.do?arid=0#if($readonly)&readonly=true#end" id="cpUpload" style="height:22px;">文件查看</a>
			#else
				<a class="area_file_upload" onclick="return openDialog(this);" href="#springUrl('/s/rural/annex/')$!{form.id}-0-C27-upload.do?arid=0#if($readonly)&readonly=true#end" id="cpUpload" style="height:22px;">文件上传</a>
			#end
		#else
			<input style='width:20px' id="changePlan-n" type='radio' name='changePlan' value='否' $!{disabled} checked='checked' onclick="jQuery('#cpUpload').hide();" /><label for='changePlan-n'>否</label>
			<input style='width:20px' id="changePlan-y" type='radio' name='changePlan' value='是' $!{disabled} onclick="jQuery('#cpUpload').show();" /><label for='changePlan-y'>是</label>
			<a class="area_file_upload" onclick="return openDialog(this);" href="#springUrl('/s/rural/annex/')$!{form.id}-0-C27-upload.do?arid=0" id="cpUpload" style="display:none;">文件上传</a>
		#end
		</td>
	</tr>
	<tr style="height:30px;">
		<td class="tdRight" colspan='3'>是否提供民居住宅设计标准图[C28]：</td>
		<td colspan='3'>
		#if($form.designPic == '是')
			<input style='width:20px' id="designPic-n" type='radio' name='designPic' value='否' $!{disabled} onclick="jQuery('#depUpload').hide();" /><label for='designPic-n'>否</label>
			<input style='width:20px' id="designPic-y" type='radio' name='designPic' value='是' $!{disabled} checked='checked' onclick="jQuery('#depUpload').show();" /><label for='designPic-y'>是</label>
			#if($readonly)
				<a class="area_file_upload" onclick="return openDialog(this);" href="#springUrl('/s/rural/annex/')$!{form.id}-0-C28-upload.do?arid=0#if($readonly)&readonly=true#end" id="depUpload" style="height:22px;">文件查看</a>
			#else
				<a class="area_file_upload" onclick="return openDialog(this);" href="#springUrl('/s/rural/annex/')$!{form.id}-0-C28-upload.do?arid=0#if($readonly)&readonly=true#end" id="depUpload" style="height:22px;">文件上传</a>
			#end
		#else
			<input style='width:20px' id="designPic-n" type='radio' name='designPic' value='否' $!{disabled} checked='checked' onclick="jQuery('#depUpload').hide();" /><label for='designPic-n'>否</label>
			<input style='width:20px' id="designPic-y" type='radio' name='designPic' value='是' $!{disabled} onclick="jQuery('#depUpload').show();" /><label for='designPic-y'>是</label>
			<a class="area_file_upload" onclick="return openDialog(this);" href="#springUrl('/s/rural/annex/')$!{form.id}-0-C28-upload.do?arid=0" id="depUpload" style="display:none;">文件上传</a>
		#end
		</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='3'>农家(乡村)旅馆[C29]：</td>
		<td colspan='3'>
			规划建设<input class="number" id="planCount" style='width:50px' type='text' name='planCount' value='$!{form.planCount}' min="0" precision="0" $!{readonly} />间；
			完成建设<input class="number" id="finishCount" style='width:50px' type='text' name='finishCount' value='$!{form.finishCount}' min="0" precision="0" $!{readonly} />间</td>
	</tr>
	
	<!--
	<tr>
		<td  style='font-weight:bold;' colspan='6'>(四)农村公共服务情况</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>文化活动场所[C30]：</td>
		<td colspan='4'>
		<input id="culturalAct" type='text' class='number' value='$!{form.culturalAct}' min="0" precision="0" name='culturalAct' $!{readonly} />个，
		<input id="culturalActArea" class='number' type='text' value='$!{form.culturalActArea}' min="0" precision="2" name='culturalActArea' $!{readonly} />平方米，
		年度：
		#if($readonly)
			<input id="culturalActAnn" type='text' value='$!{form.culturalActAnn}' name='culturalActAnn' readonly='readonly' />
		#else
			<select id='culturalActAnn' name='culturalActAnn'>$!{selyear}</select>
		#end	
		年
		</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>乡村公园[C31]：</td>
		<td colspan='4'>
		<input id="ruralPark" type='text' class='number' value='$!{form.ruralPark}' min="0" precision="0"name='ruralPark' $!{readonly} />个，
		<input id="ruralParkArea" class='number' type='text' value='$!{form.ruralParkArea}' min="0" precision="2" name='ruralParkArea' $!{readonly} />平方米，
		年度：
		#if($readonly)
			<input id="ruralParkAnn" type='text' value='$!{form.ruralParkAnn}' name='ruralParkAnn' readonly='readonly' />
		#else
			<select id='ruralParkAnn' name='ruralParkAnn'>$!{selyear}</select>
		#end	
		年
		</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>文体广场[C32]：</td>
		<td colspan='4'>
		<input id="ruralSquare" type='text' class='number' value='$!{form.ruralSquare}' min="0" precision="0"name='ruralSquare' $!{readonly} />个，
		<input id="squareArea" class='number' type='text' value='$!{form.squareArea}' min="0" precision="2" name='squareArea' $!{readonly} />平方米，
		年度：
		#if($readonly)
			<input id="squareAnn" type='text' value='$!{form.squareAnn}' name='squareAnn' readonly='readonly' />
		#else
			<select id='squareAnn' name='squareAnn'>$!{selyear}</select>
		#end
		年
		</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>村级卫生站[C33]：</td>
		<td colspan='4'>
		<input id="healthStation" type='text' class='number' value='$!{form.healthStation}' min="0" precision="0" name='healthStation' $!{readonly} />个，
		<input id="healthStationArea" class='number' type='text' value='$!{form.healthStationArea}' min="0" precision="2" name='healthStationArea' $!{readonly} />平方米，
		年度：
		#if($readonly)
			<input id="healthStationAnn" type='text' value='$!{form.healthStationAnn}' name='healthStationAnn' readonly='readonly' />
		#else
			<select id='healthStationAnn' name='healthStationAnn'>$!{selyear}</select>
		#end
		年
		</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>乡村公厕[C34]：</td>
		<td colspan='4'>
		<input id="villageToilet" type='text' class='number' value='$!{form.villageToilet}' min="0" precision="0"name='villageToilet' $!{readonly} />个，
		<input id="villageToiletArea" class='number' type='text' value='$!{form.villageToiletArea}' min="0" precision="2" name='villageToiletArea' $!{readonly} />平方米，
		年度：
		#if($readonly)
			<input id="villageToiletAnn" type='text' value='$!{form.villageToiletAnn}' name='villageToiletAnn' readonly='readonly' />
		#else
			<select id='villageToiletAnn' name='villageToiletAnn'>$!{selyear}</select>
		#end
		年
		</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='3'>是否建立统一的村级公共服务管理平台[C35]：</td>
		<td colspan='3'>
		#if($form.publicService == '是')
			<input id="publicService-n" style='width:20px' type='radio' name='publicService' value='否' $!{disabled}  onclick="jQuery('#psAnnual').attr('disabled', true);"/><label for='publicService-n'>否</label>
			<input id="publicService-y" style='width:20px' type='radio' name='publicService' value='是' $!{disabled} checked='checked' onclick="jQuery('#psAnnual').removeAttr('disabled');" /><label for='publicService-y'>是</label>
			(年度：
				#if($readonly)
					<input id="psAnnual" type='text' value='$!{form.psAnnual}' name='psAnnual' readonly='readonly' />
				#else
					<select id='psAnnual' name='psAnnual'>$!{selyear}</select>
				#end	
			年)
		#else
			<input id="publicService-n" style='width:20px' type='radio' name='publicService' value='否' $!{disabled} checked='checked'  onclick="jQuery('#psAnnual').attr('disabled', true);"/><label for='publicService-n'>否</label>
			<input id="publicService-y" style='width:20px' type='radio' name='publicService' value='是' $!{disabled} onclick="jQuery('#psAnnual').removeAttr('disabled');" /><label for='publicService-y'>是</label>
			(年度：
				#if($readonly)
					<input id="psAnnual" type='text' name='psAnnual' disabled='true' />
				#else
					<select id='psAnnual' name='psAnnual' disabled='true'>$!{selyear}</select>
				#end	
			年)
		#end
		</td>
	</tr>
	-->
	
	
	<tr>
		<td style='font-weight:bold;' colspan='6'>(四)规划进展</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>是否编制村庄环境整治规划[C36]：</td>
		<td colspan='4'>
			#if($form.eniPlan == '是')
				<input id="eniPlan-n" style='width:20px' type='radio' name='eniPlan' value='否' $!{disabled} onclick="jQuery('#eniPlanDate').attr('disabled', true);jQuery('#epdUpload').hide();" /><label for='eniPlan-n'>否</label>
				<input id="eniPlan-y" style='width:20px' type='radio' name='eniPlan' value='是' $!{disabled} checked='checked' onclick="jQuery('#eniPlanDate').removeAttr('disabled');jQuery('#epdUpload').show();" /><label for='eniPlan-y'>是</label>
				
				#if($readonly)
				(年度:
					<input id="eniPlanDate" style='width:80px' type='text' name='eniPlanDate' value='$!{form.eniPlanDate}'  readOnly='readOnly'/>
				年)
				<a class="area_file_upload" onclick="return openDialog(this);" href="#springUrl('/s/rural/annex/')$!{form.id}-0-C36-upload.do?arid=0&readonly=true" id="epdUpload">&nbsp;文件查看</a>
				#else
				(年度:
					<select id='eniPlanDate' name='eniPlanDate'>$!{selyear2}</select>	
				年)
				<a class="area_file_upload" onclick="return openDialog(this);" href="#springUrl('/s/rural/annex/')$!{form.id}-0-C36-upload.do?arid=0" id="epdUpload">&nbsp;文件上传</a>
				#end
			#else
				<input id="eniPlan-n" style='width:20px' type='radio' name='eniPlan' value='否' $!{disabled} checked='checked' onclick="jQuery('#eniPlanDate').attr('disabled', true);jQuery('#epdUpload').hide();" /><label for='eniPlan-n'>否</label>
				<input id="eniPlan-y" style='width:20px' type='radio' name='eniPlan' value='是' $!{disabled} onclick="jQuery('#eniPlanDate').removeAttr('disabled');jQuery('#epdUpload').show();" /><label for='eniPlan-y'>是</label>
				
				#if($readonly)
				(年度:
					<input id="eniPlanDate" style='width:80px' type='text' name='eniPlanDate' disabled='true'/>
				年)
				#else
				(年度:
					<select id='eniPlanDate' name='eniPlanDate' disabled="true">$!{selyear2}</select>	
				年)
				<a class="area_file_upload" onclick="return openDialog(this);" href="#springUrl('/s/rural/annex/')$!{form.id}-0-C36-upload.do?arid=0" id="epdUpload" style="display:none;">&nbsp;文件上传</a>
				#end
			#end
		</td>
	</tr>
	<tr>
		<td colspan='6' style='font-weight:bold'>(五)村民理事会</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>是否建立村民理事会[C37]：</td>
		<td colspan='4'>
		#if($form.council == '是')
			<input id="council-n" style='width:20px' type='radio' name='council' value='否' $!{disabled} onclick="jQuery('#councilAnnual').attr('disabled', true);"/><label for='council-n'>否</label>
			<input id="council-y" style='width:20px' type='radio' name='council' value='是' $!{disabled} checked='checked' onclick="jQuery('#councilAnnual').removeAttr('disabled');" /><label for='council-y'>是</label>
			(建立时间:
				#if($readonly)
					<input id="councilAnnual" type='text' name='councilAnnual' value='$!{form.councilAnnual}' readonly='readonly' />
				#else
					<select id='councilAnnual' name='councilAnnual'>$!{selyear}</select>	
				#end
			年)
		#else
			<input id="council-n" style='width:20px' type='radio' name='council' value='否' $!{disabled} checked='checked' onclick="jQuery('#councilAnnual').attr('disabled', true);"/><label for='council-n'>否</label>
			<input id="council-y" style='width:20px' type='radio' name='council' value='是' $!{disabled} onclick="jQuery('#councilAnnual').removeAttr('disabled');" /><label for='council-y'>是</label>
			(建立时间:
				#if($readonly)
					<input id="councilAnnual" type='text' name='councilAnnual' disabled='true' />
				#else
					<select id='councilAnnual' name='councilAnnual' disabled='true'>$!{selyear}</select>	
				#end
			年)
		#end
		</td>
	</tr>
	<tr>
		<td class="tdRight" rowspan='3'>理事会成员数[C38]：</td>
		<td rowspan='3'>
			<input id="councilMember" style='width:76px;' type='text' class='number' name='councilMember' value='$!{form.councilMember}' min="0" precision="0" $!{readonly} />人
			</td>
		<td class="tdRight" rowspan='3' colspan='2'>理事会主要负责人[C39]：</td>
		<td>姓名</td>
		<td>联系电话</td>
	</tr>
	<tr>
		<td>
			<input type='text' id='councilName1' name='councilName1' value='$!{form.councilName1}' $!{readonly} />
		</td>
		<td>
			<input id="councilHP1" type='text' name='councilHP1' value='$!{form.councilHP1}' $!{readonly} />
		</td>
	</tr>
	<tr>
		<td>
			<input type='text' id='councilName2' name='councilName2' value='$!{form.councilName2}' $!{readonly} />
		</td>
		<td>
			<input id="councilHP2" type='text' name='councilHP2' value='$!{form.councilHP2}' $!{readonly} />
		</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>组织开展新农村建设工作情况(在新农村建设工作中发挥的作用)[C40]：</td>
		<td colspan='4'>
			<textarea id='workSituation' name='workSituation' $!{readonly}>$!{form.workSituation}</textarea>
		</td>
	</tr>
	<tr>
		<td class="tdRight" colspan='2'>是否制定村规民约和章程[C41]：</td>
		<td colspan='4'>
			<input style='width:20px' type='radio' id='constitu-n' name='constitu' value='否' $!{disabled} #if($!{form.constitu}=='' || $form.constitu == '否') checked='checked' #end/><label for='constitu-n'>否</label>
			<input style='width:20px' type='radio' id='constitu-y' name='constitu' value='是' $!{disabled} #if($form.constitu == '是') checked='checked' #end/><label for='constitu-y'>是</label>
		</td>
	</tr>
</table>


<table class='applicant-form'>
   <tbody>
	<tr>
		<td colspan='6' style='font-weight:bold;color:red;'>(六)民生问题调查梳理情况</td>
	</tr>
	<tr>
		<td class="tdLeft" colspan='2'>完成自然村数:</td>
		<td colspan='4'><input id="finishNatureVillageNum" style="width:50px;" type='text' value='$!{form.finishNatureVillageNum}' min="0" precision="0" class='number' name='finishNatureVillageNum' $!{readonly}/>个</td>
	</tr>
	<tr>
		<td  class="tdLeft" colspan='2'>梳理出项目数:</td>
		<td colspan='4'><input id="teasedProjectNum" style="width:50px;" type='text' value='$!{form.teasedProjectNum}' min="0" precision="0" class='number' name='teasedProjectNum' $!{readonly}/>个</td>
	</tr>
	<tr>
		<td class="tdLeft" colspan='2'>排查出的矛盾纠纷数:</td>
		<td><input id="troubleshooting" style="width:50px;" type='text' value='$!{form.troubleshooting}' min="0" precision="0" class='number' name='troubleshooting' $!{readonly}/>宗</td>
		<td class="tdRight" colspan='2'>其中已化解数:</td>
		<td><input id="resolvedTroubleshooting" style="width:50px;" type='text' value='$!{form.resolvedTroubleshooting}' min="0" precision="0" class='number' name='resolvedTroubleshooting' $!{readonly}/>宗</td>
	</tr>
  <tbody>
</table>




<div class="applicant-remark">
	<div class="applicant-remark-title">备注：</div>
	<div>
		<div class="applicant-remark-item">1)&nbsp;每村一表</div>
		<div class="applicant-remark-item">2)&nbsp;初次填写,第一次报省委农办备案是初次填写。<br/>&nbsp;&nbsp;年度填写：以后示范片建设周期内的 每个年度末或考核验收前在上一次填写上修改有变化的数据项目</div>
		<div class="applicant-remark-item">3)&nbsp;各代码指标数值累计到填写年度的数。</div>
		<div class="applicant-remark-item">4)&nbsp;序号[C2]：按自然序数1、2、3、…排。</div>
		<div class="applicant-remark-item">5)&nbsp;村庄类型[C3]：单选。</div>
		<div class="applicant-remark-item">6)&nbsp;被纳入以下主体村的辐射带动范围[C5]：必填项，各处主体村名。</div>
	</div>
</div>
<!--
<script type="text/javascript">
jQuery(function(){
 	$("a.area_file_upload").bupabutton({
		flat : true, 
		iconClassname : 'icon-file-upload'
	});
	_initial();
});
function _initial(){
    var v=jQuery('#eniPlanDate').val();
    if(v-0==-1){
       jQuery('#eniPlanDate').val("");
    }
}
</script>
-->
