<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>$!{title}</title>
	<style type="text/css">
		* {margin:0; padding:0;}
		body{background:#576A85; position:relative;}
		body,html{height:100%; overflow:hidden;}
		.wrap {position:relative; top:10%;}
		.main_body {
			background:url("#springUrl('/res/images/mbg.png')") 0 8px repeat-x;
			padding-left:150px;
			width:100%;
		}
		.main_content {
			margin:0 auto;
			border-radius:5px;
			background:#fff; 
			overflow:hidden; 
			width:700px;
			height:300px; 
			margin-top:50px;
		}
		.loginBox {
			background:#fff url("#springUrl('/res/images/userlogin.png')") 20% 12% no-repeat;
			font-family:宋体;
			font-size:12px;
    		float:left;
			height:100%;
			color:#666666;
			padding:75px 0 0 90px;
			width:340px;
    		overflow:hidden;
		}
		.content-message{
			background:#E6EFF8;
			float:left;
			height:100%;
			overflow:hidden;
			vertical-align:middle;
			width:255px;
			font: 13px/2 tahoma,arial,宋体;
			padding:60px 0 0 15px;
		}
	</style>
	<script type="text/javascript" src="#springUrl('/res/js/jquery.min.js')"></script>
</head>
<body>
	<div class='wrap'>
		<div style='padding-left:150px;'>
			<table><tr><td valign='middle' align='center'><img src="#springUrl($!{logo})"/></td>
			<td style='valign:middle;align:center;height:100px;font-size:35px;color:#fff;'><b>$!{name}</b></td></tr></table>
		</div>
		<div class='main_content'>
			<div class='loginBox'>$!screen_content</div>
			<div class='content-message'>
				如果您使用的IE浏览器版本低于7.0<br/>或您使用的Firefox浏览器版本低于20<br/>别担心<br/>以下是我们为您提供的常用浏览器下载：<br/><br/>
				<font color="#333333"><a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie">IE8下载</a></font>&nbsp;&nbsp;&nbsp;&nbsp;
				<font color="#333333"><a target="_blank" href="http://firefox.com.cn/">Firefox下载</a></font>
			</div>
		</div>
		<div style='text-align: center;width:100%;color:#95A2B2;font: 12px/1.5 tahoma,arial,宋体;padding-top:200px;'>
			Copyright&nbsp;$!{foot}.&nbsp;All Rights Reserved 博农公司 版权所有
		</div>
	</div>
</body>
</html>