<div style='padding:12px;'>
<script type="text/javascript" src="#springUrl('/res/js/echarts-all.js')"></script>
<div id='div' style='text-align:center;'>
	
	<lable>批次：</lable>
	<select id='batch'>
		<option value="一">第一批</option>
		<option value="二">第二批</option>
		<option value="三">第三批</option>
		<option value="珠三角">珠三角</option>
	</select>
	<lable>统计类型：</lable>
	<select id='calType'>
		<option value="0">投入</option>
		<option value="1">累计</option>
	</select>
	<input type="button" value="统计" onclick="butOnclick()">
</div>
<div id='stat-content'></div>

</div>
<script type='text/javascript'>
	function butOnclick(){
		jQuery("#stat-content").load("funds.statistics", {batch:jQuery("#batch").val(),calType:jQuery("#calType").val()});
	}
</script>

