<div id='hc_line' style='width: 1100px; height: 370px; margin: 0 auto;'></div>
<table class='editor' border="1" cellpadding="0" cellspacing="0"  style="border-collapse:collapse;margin:20px 0;">
$!{countyTable}
</table>
<script type='text/javascript'>
jQuery(function(){
	$!{jsContent}
});
</script>
$!{aaa}