<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>查看图片和视频信息</title>
<link href="/res/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div id='hc_line' style='width: 1200px; height: 400px; margin: 0 auto;'></div>
</body>
</html>
<script type="text/javascript" src="#springUrl('/res/js/echarts-all.js'>
	jQuery(function(){
		$!{jsContent}
	});
</script>