
<script type="text/javascript" src="#springUrl('/res/js/echarts-all.js')" ></script>


<div id='hc_line' style='width: 100%; height: 600px; margin: 0 auto;'>

</div>


<script type='text/javascript'>
jQuery(function(){
//人口
	var data_p = [
	[109419,213,689,4202,158092,146526,218495,117728,17784,543,3199,88010,96148,60590,274221,179871,216242,15158,12035,62424],
	[795736,44873,24112,491103,1606180,1522621,2037776,1327666,619497,253136,332182,1347792,1345869,2123933,3724965,1865048,2485316,240624,401189,1144342],
	[424759,73313,349894,510042,356330,1125528,1433533,511190,1035237,496278,239988,759378,488673,2569404,1931024,874735,662260,515663,1426608,978267],
	[240407,49631,404156,211437,33191,119036,365015,94379,653210,178483,122261,125892,117463,754657,302430,224580,75331,297174,1040055,1844961],
	[257174,85967,2845169,1025643,5119,117506,127704,77403,612531,383052,230585,275561,64387,605493,159805,241254,11104,1017041,2842897,62087]
	];
	var data_h = [
	[14117,30,155,1108,34635,26838,50550,23399,2999,129,21571,11792,53872,37231,44929,3273,2311,15890],
	[186859,10435,4825,127888,382809,305480,445871,304996,105444,77437,319273,39964,766787,430142,545257,56605,77284,296108],
	[113813,17734,67907,143388,92147,222343,304267,120432,182284,145977,121395,520387,410680,212348,156083,118853,281498,238729],
	[50650,13505,80631,61088,9281,25024,82914,22455,91358,53352,29621,151733,68720,56188,18204,69605,205627,45784],
	[73616,21569,567765,352306,1204,23404,30302,20986,175111,112718,16096,141233,34679,60607,2520,233316,579459,16227]
	];
	var data_v = [
	[948,2,22,89,2536,1591,2501,1637,219,10,48,1713,1488,728,3438,3197,254,16],
	[9314,163,76,2049,9060,6303,9608,10049,1937,1125,1391,8332,6949,7222,16463,9669,12671,1114,1304,5546],
	[8929,102,332,947,632,1784,2310,795,1109,935,421,5613,825,3318,2982,1504,1097,683,1556,1590],
	[9191,35,220,177,32,140,414,65,258,149,92,174,82,330,201,194,59,187,543,628],
	[8111,31,494,304,2,212,67,68,141,128,104,213,22,203,387,111,4,291,613,25]
	];
	var myChart = echarts.init(document.getElementById('hc_line'));
	var option = {
		title : {
	        text: '广东省自然村情况汇总表',
	        subtext: '全省地图'
	    },
		tooltip:{trigger:'item'},
		legend:{
			x:'right',
			y:'bottom',
	        selectedMode:false,
			data:[
				'行政村','',
				'自然村:20户以下','自然村:20-100户','自然村:100-300户','自然村:300-500户','自然村:500户以上','',
				'人口数:20户以下','人口数:20-100户','人口数:100-300户','人口数:300-500户','人口数:500户以上','',
				'户数:20户以下','户数:20-100户','户数:100-300户','户数:300-500户','户数:500户以上'
			]
		},
	    dataRange: {
	        orient: 'horizontal',
	        min: 0,
	        max: 1000,
	        text:['高','低'],           // 文本，默认为数值文本
	        splitNumber:0
	    },series : [
	    	{
	            name: '行政村',
	            type: 'map',
	            mapType: '广东',
	            mapLocation: {
	                x: 'left'
	            },
	            selectedMode : 'single',
	            itemStyle:{
	                normal:{label:{show:true}},
	                emphasis:{label:{show:true}}
	            },
	            data:[
	                {name:'广州市', value:1144, selected:true},
	                {name:'珠海市', value:123},
	                {name:'汕头市', value:864},
	                {name:'佛山市', value:546},
	                {name:'韶关市', value:1210},
	                {name:'河源市', value:1261},
	                {name:'梅州市', value:2045},
	                {name:'惠州市', value:1062},
	                {name:'汕尾市', value:783},
	                {name:'东莞市', value:547},
	                {name:'中山市', value:150},
	                {name:'江门市', value:1082},
	                {name:'阳江市', value:701},
	                {name:'湛江市', value:1720},
	                {name:'茂名市', value:1717},
	                {name:'肇庆市', value:1350},
	                {name:'清远市', value:1109},
	                {name:'潮州市', value:926},
	                {name:'揭阳市', value:1445},
	                {name:'云浮市', value:892}
	            ]
	        },
	        {
	        	name:'市级统计',
	            type:'pie',
	            //roseType : 'area',
	            tooltip: {
	                trigger: 'item',
	                formatter: "{a} <br/>{b} : {c} ({d})"
	            },
	            center: [document.getElementById('hc_line').offsetWidth - 300, 250],
	            radius: [10, 50],
	            x: '10%',
	            width: '20%',
	            funnelAlign: 'right',
	            max: 1548,
	            /*
	            itemStyle : {
	                normal : {
	                    label : {
	                        position : 'inner'
	                    },
	                    labelLine : {
	                        show : false
	                    }
	                }
	            },*/
	            data:[
	                {name: '自然村:20户以下', value: data_v[0][0]},
	                {name: '自然村:20-100户', value: data_v[1][0]},
	                {name: '自然村:100-300户', value: data_v[2][0]},
	                {name: '自然村:300-500户', value: data_v[3][0]},
	                {name: '自然村:500户以上', value: data_v[4][0]}
	            ]
	        },
	        {
	            name:'市级统计',
	            type:'pie',
	            //roseType : 'area',
	            tooltip: {
	                trigger: 'item',
	                formatter: "{a} <br/>{b} : {c} ({d})"
	            },
	            center: [document.getElementById('hc_line').offsetWidth - 300, 250],
	            radius: [90, 125],
	            x: '20%',
	            width: '40%',
	            funnelAlign: 'right',
	            max: 1548,
	            /*
	            itemStyle : {
	                normal : {
	                    label : {
	                        position : 'inner'
	                    },
	                    labelLine : {
	                        show : false
	                    }
	                }
	            },*/
	            data:[
	                {name: '户数:20户以下', value: data_h[0][0]},
	                {name: '户数:20-100户', value: data_h[1][0]},
	                {name: '户数:100-300户', value: data_h[2][0]},
	                {name: '户数:300-500户', value: data_h[3][0]},
	                {name: '户数:500户以上', value: data_h[4][0]}
	            ]
	        },
	        {
	            name:'访问来源',
	            type:'pie',
	            radius : [170, 200],
	            center: [document.getElementById('hc_line').offsetWidth - 300, 250],
	            
	            // for funnel
	            x: '60%',
	            width: '35%',
	            funnelAlign: 'left',
	            max: 1048,
	            
	            data:[
	                {name: '人口数:20户以下', value: data_p[0][0]},
	                {name: '人口数:20-100户', value: data_p[1][0]},
	                {name: '人口数:100-300户', value: data_p[2][0]},
	                {name: '人口数:300-500户', value: data_p[3][0]},
	                {name: '人口数:500户以上', value: data_p[4][0]}
	            ]
	        }
	    ]
	};
	myChart.setOption(option);
	//var ecConfig = require('echarts/config');
	myChart.on('pieSelected', function (param){
	    var selected = param.selected;
	    var serie;
	    alert("ok.");
	    /*var str = '当前选择： ';
	    for (var idx in selected) {
	        serie = option.series[idx];
	        for (var i = 0, l = serie.data.length; i < l; i++) {
	            if (selected[idx][i]) {
	                str += '【系列' + idx + '】' + serie.name + ' : ' + 
	                       '【数据' + i + '】' + serie.data[i].name + ' ';
	            }
	        }
	    }*/
	});
});
//	var ecConfig = require('echarts/config');
//alert(ecConfig.EVENT.PIE_SELECTED);
</script>