<div id="datagrid-tab" style='padding-left:10px;padding-top:5px;'>
	<div>
	$!{select}
	</div>	
	<a class="bupabutton" style='padding-left:10px' href="#" data-settings="iconClassname:'icon-excel'"
		 onclick="this.href='index.excel?batch='+jQuery('#sel-batch').val()" target="_blank">导出Excel</a>
	<div style="font-size:20px;text-align:center">广东省新农村连片示范建设工程台账簿 - 所有非主体村情况累计汇总统计</div>
</div>

<table class="bupgrid" fit="true" data-settings="nowrap:false" toolbar="#datagrid-tab" id='mygrid'>
	
	<thead data-settings="frozen:true">
		<tr>
		   <th style="width:60px;" rowspan='3' data-settings="field:'code'">序号</th>
			<th style="width:60px;" rowspan='3' data-settings="field:'code2'">批次[A15]</th>
			<th style="width:60px;" rowspan='3' data-settings="field:'code3'">报备年度[A14]</th>
			<th style="width:120px;" rowspan='3' data-settings="field:'code4'">地市</th>
			<th style="width:120px;" rowspan='3' data-settings="field:'code5'">县(区)</th>
			<th style="width:150px;" rowspan='3' data-settings="field:'code6'">示范片名称[A12]</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th style="width:150px;" rowspan='3' data-settings="field:'code7'">建设主题名称[A13]</th>
			<th style="width:150px;" rowspan='3' data-settings="field:'code8'">行政村名</th>
			<th style="width:150px;" rowspan='3' data-settings="field:'code9'">自然村名</th>
			
			<th style='font-weight:bold;'colspan='6'>（三）农村旧房整治情况</th>
			
		</tr>
		<tr>
			<th style="width:60px;">无价值旧村旧房拆除</th>
			<th style="width:60px;">统一拆旧建新</th>
			<th style="width:60px;">编制旧房整治改造规划村个数</th>
			<th style="width:60px;">提供民居住宅设计标准图村个数</th>
			<th style="width:60px;">农家（乡村）旅馆-规划建设</th>
			<th style="width:60px;">农家（乡村）旅馆-完成建设</th>
			
		</tr>
		<tr>
		   
			<th style="width:60px;" data-settings="field:'item21'">C25[间]</th>
			<th style="width:60px;" data-settings="field:'item22'">C26[间]</th>
			<th style="width:60px;" data-settings="field:'item23'">C27[个]</th>
			<th style="width:60px;" data-settings="field:'item24'">C28[个]</th>
			<th style="width:60px;" data-settings="field:'item25'">C29[间]</th>
			<th style="width:60px;" data-settings="field:'item26'">C29[间]</th>
			
		</tr>
	</thead>
	<tbody id='_tbody'>$!{content}</tbody>
</table>

<script>
	$("#btn_load").bupabutton({
        iconClassname: 'icon-search'
    });
    jQuery(function(){
    //$('#mygrid').bupgrid('hideColumn',"code");
    $('#mygrid').bupgrid('hideColumn',"code6");
    $('#mygrid').bupgrid('hideColumn',"code2");
    $('#mygrid').bupgrid('hideColumn',"code3");
    $('#mygrid').bupgrid('hideColumn',"code4");
    $('#mygrid').bupgrid('hideColumn',"code7");
    });
</script>